* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 10rem;
}

.hero, .footer {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}